@if (AudioList != null)
{
    @foreach (var audio in AudioList)
    {
        <div class="col-lg-4 col-12">
            <div class="card">
                <div class="card-img">
                    <div class="position-absolute top-0 end-0" style="padding: 4px">
                        <button class="btn btn-icon rounded-circle btn-flat-warning waves-effect">
                            <i class="ri-edit-box-line"></i>
                        </button>
                        <button class="btn btn-icon rounded-circle btn-flat-danger waves-effect">
                            <i class="ri-delete-bin-7-line"></i>
                        </button>
                    </div>
                    <a>
                        <img class="img-fluid card-img-top width-500" src="@audio.UrlCover" alt="SpotMixes-@audio.Title"/>
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <a href="">
                            <div class="avatar avatar-sm">
                                <img src="@audio.UserUrlProfilePicture" alt="Foto de perfil usuario de SpotMixes"/>
                            </div>
                            @audio.UserNickname
                        </a>
                        <div>
                            <p class="h6">
                                <i class="ri-headphone-line"></i>
                                @audio.NumReproduction
                            </p>
                        </div>
                    </div>
                    <h6 class="item-name mt-1">
                        <a class="text-body" href="">@audio.Title</a>
                    </h6>
                    <div class="d-flex justify-content-between mt-1">
                        <p>@audio.DatePublication.ToString("g")</p>
                        <span class="badge bg-dark h-50">@audio.Genres</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-primary btn-post btn-like">
                        <i class="ri-heart-line"></i>
                        <span>500</span>
                    </a>
                    <a href="#" class="btn btn-warning btn-post btn-comment">
                        <i class="ri-discuss-fill"></i>
                        <span class="add-to-cart">100</span>
                    </a>
                    <a href="#" class="btn btn-info btn-post btn-share">
                        <i class="ri-share-fill"></i>
                        <span class="add-to-cart">100</span>
                    </a>
                </div>
            </div>
        </div>
    }
}

@code
{
    [Parameter]
    public List<Audio> AudioList { get; set; }
}