@using SpotMixesBlazor.Client.Helpers
@inject DjPagingService _djPagingService

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card card-profile">
        <img class="img-fluid card-img-top height-150" src="@User.UrlCoverPicture" alt="@User.DisplayName" style="object-fit: cover"/>
        <div class="card-body">
            <div class="profile-image-wrapper">
                <div class="profile-image">
                    <div class="avatar">
                        <img src="@User.UrlProfilePicture" alt="@User.DisplayName">
                    </div>
                </div>
            </div>
            <a href="perfil/@User.UrlProfile" class="text-primary h3">@User.DisplayName</a>
            <h6 class="text-muted">@User.FirstName @User.LastName</h6>
            <FollowerButton FollowedId="@User.Id"></FollowerButton>
            @if (User.VerifiedProfile && _djPagingService.FilterVerified)
            {
                <hr class="mb-2">
                <a href="generar-contrato/@User.Id" class="btn btn-outline-microsoft btn-sm w-100">Contratar</a>
            }
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public User User { get; set; }
}