@page "/Profile/{UrlProfile}"
@using System.Net
@using SpotMixesBlazor.Shared.ModelsLookup
@layout MainLayout
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime

<Content>
    @if (_user == null)
    {
        <p>El usuario no existe</p>
    }
    else
    {
        <div id="user-profile">
            <!-- Profile Header -->
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2">
                        <img class="img-fluid card-img-top height-450"
                             src="@_user.UrlCoverPicture"
                             alt="Foto de portada @_user.DisplayName"
                             style="object-fit: cover"/>
                        <div class="position-relative">
                            <div class="profile-img-container d-flex align-items-center">
                                <div class="profile-img">
                                    <img class="rounded img-fluid"
                                         src="@_user.UrlProfilePicture"
                                         alt="Foto de perfil @_user.DisplayName"
                                         style="object-fit: cover; height: 100%"/>
                                </div>
                                <div class="profile-title ms-3">
                                    <h2 class="text-white">@_user.DisplayName</h2>
                                    @if (_user.IsDj)
                                    {
                                        <p class="text-white">Dj</p>
                                    }
                                    else
                                    {
                                        <p class="text-white">Oyente</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="profile-header-nav">
                            <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                                <button class="btn btn-icon navbar-toggler" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <i class="ri-more-line"></i>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                        <ul class="nav nav-pills mb-0">
                                            <li class="nav-item">
                                                <a class="nav-link fw-bold" href="#">
                                                    <span class="d-none d-md-block">Todo</span>
                                                    <i class="ri-home-6-line d-block d-md-none"></i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link fw-bold" href="#">
                                                    <span class="d-none d-md-block">Pupulares</span>
                                                    <i class="ri-headphone-line d-block d-md-none"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        @if (_urlProfileLocalStorage == UrlProfile)
                                        {
                                            @if (_user.IsDj)
                                            {
                                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#InsertAudio">
                                                    <i class="ri-upload-2-fill me-1 d-block d-md-none"></i>
                                                    Publicar
                                                </button>
                                                <PostAdd></PostAdd>
                                            }
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary">
                                                <i class="ri-bank-card-line d-block d-md-none"></i>
                                                <span class="fw-bold d-none d-md-block">Contratar</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Profile Header -->

            <!-- Profile Info Section -->
            <section id="profile-info">
                <div class="row">
                    <!-- Left profile info section -->
                    <div class="col-lg-9 col-12 order-1">
                        <div class="row">
                            @if (_audios != null)
                            {
                                @if (_urlProfileLocalStorage == UrlProfile)
                                {
                                    @foreach (var audio in _audios)
                                    {
                                        <DjGeneralPost
                                            Audio="audio"
                                            UrlProfilePicture="@_user.UrlProfilePicture"
                                            DisplayName="@_user.DisplayName">
                                            
                                            <UpdateAudioButton AudioId="@audio.Id"></UpdateAudioButton>
                                            
                                            <DeleteAudioButton
                                                AudioId="@audio.Id"
                                                AudioTitle="@audio.Title"
                                                AudioNumReproduction="@audio.NumReproduction">
                                            </DeleteAudioButton>
                                            
                                        </DjGeneralPost>
                                    }
                                    <DeleteAudioModal></DeleteAudioModal>
                                }
                                else
                                {
                                    @foreach (var audio in _audios)
                                    {
                                        <DjGeneralPost
                                            Audio="audio"
                                            UrlProfilePicture="@_user.UrlProfilePicture"
                                            DisplayName="@_user.DisplayName">
                                        </DjGeneralPost>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <!-- End left profile info section -->

                    <!-- Right profile info section -->
                    <div class="col-lg-3 col-12 order-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-0">Latest Photos</h5>
                            </div>
                        </div>
                    </div>
                    <!-- End right profile info section -->
                </div>
            </section>
        </div>
    }
</Content>

@code {
    [Parameter]
    public string UrlProfile { get; set; }

    private User _user = new();
    private IReadOnlyList<Audio> _audios; 
    private string _urlProfileLocalStorage;

    protected override async Task OnInitializedAsync()
    {
        _urlProfileLocalStorage = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "UrlProfile");
        await GetUserByUrlProfile();
    }

    private async Task GetUserByUrlProfile()
    {
        var httpResponse = await _httpClient.GetAsync($"api/user/GetUserByUrlProfile/{UrlProfile}");

        switch (httpResponse.StatusCode)
        {
            case HttpStatusCode.OK:
                {
                    _user = await httpResponse.Content.ReadFromJsonAsync<User>();
                    await GetAllAudioByUserId();
                    break;
                }
            case HttpStatusCode.BadRequest:
                {
                    Console.WriteLine("El usuario no existe");
                    break;
                }
            default:
                {
                    Console.WriteLine("El servidor esta en mantenimiento");
                    break;
                }
        }
    }

    private async Task GetAllAudioByUserId()
    {
        var httpResponse = await _httpClient.GetAsync($"api/audio/GetAllAudioByUserId/{_user.Id}");

        switch (httpResponse.StatusCode)
        {
            case HttpStatusCode.OK:
                {
                    _audios = await httpResponse.Content.ReadFromJsonAsync<IReadOnlyList<Audio>>();
                    break;
                }
            case HttpStatusCode.BadRequest:
                {
                    Console.WriteLine("El usuario no tiene audios");
                    break;
                }
            default:
                {
                    Console.WriteLine("El servidor esta en mantenimiento");
                    break;
                }
        }
    }
}